
@model  Appointment.ViewModel.Models.EmployeesGroupsViewModel

@{
    ViewBag.Title = "Create new Group";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
///////////////////////languages///////////////////////////////////////

    <script src="~/Scripts/jquery-3.3.1.slim.min.js"> </script>
    <script src="~/Scripts/jquery.multi-select.js"></script>
   <link href = "~/Content/example-styles.css" rel = "stylesheet"/>
    @*<form class="form-group">
        <select id="Employees" name="Employees" multiple>
            <option value="JavaScript">JavaScript</option>
            <option value="C++">C++</option>
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="PHO">PHP</option>
            <option value="Pascal">Pascal</option>
        </select>
    </form>*@

        @*<div class="form-group">
            @Html.Label("Employees", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="dropdown">
                    @Html.DropDownListFor(m => m.EmployeeID, new SelectList(Model.Employees, "Value", "Text", new { name = "Employees", multiple = "multiple" }) , "select", new { id = "Employees" , multiple = "true" })
                </div>
                @* @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })*@
            @*</div>
        </div>*@


    ////////////////////////////////////////////////////

    <div class="form-group">
        @Html.Label("Employees", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            <div class="dropdown">
                @Html.DropDownListFor(m => m.SelectedEmployeesID, new SelectList(Model.Employees, "Value", "Text"), "select", new { id = "Employees", multiple = "true" })
            </div>
            @* @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    //////////////////////////////////////////////////////

            <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Groups")
</div>

@*/////////////////////////////////////////////*@

@section scripts{
<script>
    $(function () {
        $('#Employees').multiSelect({
            width: "50%",
            includeSelectAllOption: "true"
        });
    });
 </script>
    }


@*<script>

    $('#Employees').multiSelect({

        // Custom templates
        'containerHTML': '<div class="multi-select-container">',
        'menuHTML': '<div class="multi-select-menu">',
        'buttonHTML': '<span class="multi-select-button">',
        'menuItemsHTML': '<div class="multi-select-menuitems">',
        'menuItemHTML': '<label class="multi-select-menuitem">',
        'presetsHTML': '<div class="multi-select-presets">',

        // sets some HTML (eg: <div class="multi-select-modal">) to enable the modal overlay.
        'modalHTML': undefined,

        // Active CSS class
        'activeClass': 'multi-select-container--open',

        // Text to show when no option is selected
        'noneText': '-- Select --',
        ///
        'selectAllValue': 'multiselect-all',

        // Text to show when all options are selected
        'allText': undefined,

        // an array of preset option groups
        'presets': undefined,

        // CSS class added to the container, when the menu is about to extend beyond the right edge of the position<a href="https://www.jqueryscript.net/menu/">Menu</a>Within element
        'positionedMenuClass': 'multi-select-container--positioned',

        // If you provide a jQuery object here, the plugin will add a class (see positionedMenuClass option) to the container when the right edge of the dropdown menu is about to extend outside the specified element, giving you the opportunity to use CSS to prevent the menu extending, for example, by allowing the option labels to wrap onto multiple lines.
        'positionMenuWithin': undefined,

        // The plugin will attempt to keep this distance, in pixels, clear between the bottom of the menu and the bottom of the viewport, by setting a fixed height style if the menu would otherwise approach this distance from the bottom edge of the viewport.
        'viewportBottomGutter': 20,

        // minimal height
        'menuMinHeight': 200

    });
</script>*@

