@model Appointment.ViewModel.Models.EmployeesGroupsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>

    <hr />
    <dl class="dl-horizontal">     
        <dt>
            @Html.DisplayName("Group Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Employees")
        </dt>
        @foreach (var em in Model.Employeelist)
        {
            <dd>
                @*@Html.Display(em.Name)*@
                @Html.DisplayFor(model=>em.Name)
            </dd>
        }
      

    </dl>
    <div style="clear: both;"> </div>
 
@using (Html.BeginForm("Delete", "groups", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
  
    {
        @Html.AntiForgeryToken()
       
        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-default" />*@ 
            <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Groups", "Groups")'" />
            <input id="btnDelete" type="button"  value="Delete" class="btn btn-default" />
                
</div>
    }
</div>
@*////////////////////////////////////////////////////*@
@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {
        $("#btnDelete").click(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteCheck","Groups")/?id=' + @Model.ID ,
                //url:'',
                type: 'GET',
                async: false,
                cache: false,
                dataType: 'json',
                @*//data:{@Model.ID},*@                
                success: function (data)
                {
                    if (data.canDelete)
                    {
                        $("#form").submit();
                    }
                    else 
                        alert("you can not be able to delete a group with reminders !");
                                 
                }
                , error: function ()
                {
                    alert("server error !");
                }
            });
        });
    });
    </script>
}

@*/////////////////////////////////////////////////////////////////*@
@*@section scripts{
    <script>

    $(document).ready(function () {
        $("js-delete-group").click(function (e) {
            debugger;
            var link = $(e.target);

            $.ajax({
                url: "Groups" + link.attr("data-group-id"),
                method: "DeleteCheck"
            })
                .done(function () {
                    link.parents("li"); fadeOut(function () {
                        $(this).remove();
                    });
                })
                .fail(function () {
                    alert("something failed!");
                });

        )
    </script>
}*@
@*//////////////////////////////////////////////////////////*@

@*@section scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnDelete').click(function (e) {
            debugger;
            // prevent the default event behaviour
            e.preventDefault();

            $.ajax({
                url: "Groups/DeleteCheck?Id="+@Model.ID,
                @*url: "Groups?Id=" +@Model.ID,
                method: Delete,
                type: "POST",
                data: JSON.stringify({ 'Options': 'none' }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (Delete) {

                    // perform your save call here

                    if (DeleteCheck.status == "Success") {
                        $("#form").submit();
                    } else {
                        alert("you can not be able to delete a group with reminders !");
                    }
                },
                //error: function () {
                //    alert("An error has occured!!!");
                //}
            });
        });
    });
</script>
}*@