<!DOCTYPE html>

<html>
<head>
    <style>
        .img {
            float: left;
            height: 100px;
            width: 100px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
        }


        .navbar-navEA > li > a {
            color: black !important;
            margin-top: 20px;
        }

        .m {
            margin-top: 20px;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: center;
            margin-top: 35px;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }



        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reminder</title>
    @*<a href="~/Scripts/popper.min.js.map">~/Scripts/popper.min.js.map</a>
        <a href="~/Scripts/popper.js.map"></a>*@
    @*<link href="@Url.Content("~/Scripts/umd/popper.js.map")" rel="" type="text/javascript" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/umd/popper-utils.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>

    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link rel="stylesheet" href="~/Content/example-styles.css" />
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <script src="~/Scripts/jquery.multi-select.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


</head>
<body class="body">

    <div class="navbarEdita navbar navbar-inverse navbar-fixed-top" style="background-color:#f1f1f1">
        <a href="~/Reminder/Index"><img class="img" src="~/img/Untitled11.png"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-navEA ">
                    <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                    <li>@Html.ActionLink("Reminder", "Index", "Reminder")</li>
                    <li>@Html.ActionLink("Groups", "Groups", "Groups")</li>
                    <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    <li class="dropdown">
                        <p class="dropbtn ">Reports</p>
                        <div class="dropdown-content">
                            <a>@Html.ActionLink("Reminders Distribution", "RemindersDistribution", "Reports")</a>
                            <a>@Html.ActionLink("Reminder Report", "ReminderReport", "Reports")</a>
                        </div>
                    </li>
                </ul>
                @*<ul class="m" style="float:right">@HttpContext.Current.User.Identity.Name.Split('\\')[1]</ul>*@
                <ul class="m" style="float:right">@HttpContext.Current.User.Identity.Name.Split('\\')[1]</ul>

            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reminder</p>
        </footer>
    </div>


    @*@RenderSection("JavaScript", required: false)*@
    @RenderSection("scripts", required: false)
</body>
</html>