<!DOCTYPE html>
<html>
<head>
    <style>
        .img {
            float: left;
            height: 100px;
            width: 100px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
        }


        .navbar-navEA > li > a {
            color: black !important;
            margin-top: 20px;
        }
        .m{
            margin-top:20px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reminder</title>

    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="~/Content/example-styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <script src="~/Scripts/jquery.multi-select.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body class="body">
   
    <div class="navbarEdita navbar navbar-inverse navbar-fixed-top" style="background-color:#f1f1f1">
        <a href="~/Reminder/Index"><img class="img" src="~/img/Untitled11.png"></a>
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-navEA ">
                    <li>@Html.ActionLink("Home", "Index", "Reminder")</li>
                    <li>@Html.ActionLink("Groups", "Groups", "Groups")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Reminder")</li>*@
                </ul>
                <ul class="m" style="float:right">@HttpContext.Current.User.Identity.Name</ul>
            </div>
        </div>
        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reminder</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>