@model Appointment.ViewModel.Models.EmployeeRemindersViewModel

@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>Details</h2>

<div>
    <h4>EmployeeRemindersViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyOn)
        </dd>
              
        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeID)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Update", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
