@model Appointment.ViewModel.Models.GeneralRemindersViewModel

@{
    ViewBag.Title = "New General Reminder";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <br />
    <h2>Create General Reminder</h2>

    <hr />
    @Html.ValidationSummary(true, "*", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @Id = "StartDate", @class = "form-control", Value = DateTime.Now.Date.ToString() } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @Id = "EndDate", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Breif Description", htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.BreifDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BreifDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Groups", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            <div class="dropdown">
                @Html.ListBoxFor(m => m.SelectedGroupsID, new SelectList(Model.Groups, "Value", "Text"), new { id = "Group", multiple = "true" })
                <lable id="lblGroupValidation" style="color:red;font-weight:bold;display:none;"></lable>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Active", htmlAttributes: new { @class = "control-label col-md-2" })<a style="color:red">*</a>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBox("IsActive", true)
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" onclick="return Validate();" />
            <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Reminder")'" />
        </div>

    </div>
</div>
}






<link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>


<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">

    function Validate() {
        debugger;
        var validateMessage = 'you have to select at least one group !';
        var validateLabel = $('#lblGroupValidation');
        var SelectedGroups = $('#Group').val();
        if (SelectedGroups == null) {
            //alert('please select group !');
            validateLabel.html(validateMessage);
            validateLabel.show();
            return false;
        } else {
            validateLabel.hide();
            return true;
        }
    }

    $(document).ready(function () {
        $('#Group').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            maxHeight: 200
        });
        function startChange() {
            var startDate = start.value(),
                endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
                startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }
        var today = new Date();
        var start = $("#StartDate").kendoDatePicker({
            change: startChange,
            min: today,
            format: "MM-dd-yyyy"
        }).data("kendoDatePicker");

        var end = $("#EndDate").kendoDatePicker({
            change: endChange,
            format: "MM-dd-yyyy"
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());
        //$("#StartDate").kendoDatePicker({
        //    // defines the start view
        //    start: "year",

        //    // defines when the calendar should return date
        //    depth: "year",

        //    // display month and year in the input
        //    format: "MMMM yyyy",

        //    // specifies that DateInput is used for masking the input element
        //    dateInput: true
        //});


    });
</script>
