@model Appointment.ViewModel.Models.ReportsViewModel
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Reminders Distribution";
}
<br />
<br />
<br />
<br />
<h2>Reminders Distribution</h2>
<br />
<hr />
<div>
    @using (Html.BeginForm("RemindersDistribution", "Reports", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="form-horizontal">



            <div class="form-group">
                @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.SelectedType, (IEnumerable<SelectListItem>)ViewBag.Type, "Select Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedType, "", new { @class = "text-danger" })

                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("Year", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control" })
                    </div>
                </div>*@
            <div class="form-group">
                @Html.Label("Year", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="year" id="yearpicker" data-role="datepicker" data-start="decade" data-depth="decade" type="number" maxlength="4" minlength="4" data-format="yyyy" />
                    @Html.HiddenFor(model => model.year, new { @id = "year" })
                    @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                    @*<lable id="lblYearValidation" style="color:red;font-weight:bold;display:none;"></lable>*@

                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Run to report" class="btn btn-default" onclick="return Validate();" />
            </div>
        </div>
     
    }
</div>

<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>

<script>
    //function Validate() {
    //    debugger;
    //    var validateMessage = 'you have to select a year !';
    //    var validateLabel = $('#lblYearValidation');
    //    var SelectedGroups = $('#yearpicker').val().toString();
    //    if (SelectedGroups == "") {
    //        //alert('please select group !');
    //        validateLabel.html(validateMessage);
    //        validateLabel.show();
    //        return false;
    //    } else {
    //        validateLabel.hide();
    //        return true;
    //    }
    //}


    $(document).ready(function () {
        $("#yearpicker").kendoDatePicker({
            start: "decade",
            depth: "decade",
            format: "yyyy",
            footer: false
        });
        $("#yearpicker").change(function () {
            $("#year").val($("#yearpicker").val());
        });

    });
</script>

