@model Appointment.ViewModel.Models.SettingsViewModel



<h1>Reminders</h1>

@using (Html.BeginForm("Edit","Settings",FormMethod.Get))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.EmailAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.AdminEmail
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.BirthDayEmailText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.BirthdayEmailText
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.AnniversaryEmailText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.AnniversaryEmailText
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.BirthdayReminder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.BirthdayReminder
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.AnniversaryReminder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.AnniversaryReminder
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.EventReminder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.EventReminder
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.SendBirthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.SendBirthday
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.SendAnniversary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.SendAnniversary
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.SendEvent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.SendEvent
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.settingsView.UpComingReminder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.UpComingReminder
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
